.container {
    max-width: 390px;
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 40px 0;
    text-align: center;
    margin: 0 auto;
    
    font-family: Roboto;

    gap: 15px;

}

.imgTroubleLogin {
    width: 96px;
    height: 96px;
    margin-bottom: 20px;
}

h3 {
    font-family: Roboto;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
}

p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(115, 115, 115, 1);
}

.orBlock {
    display: flex;
    align-items: center;
    margin: 25px 0 25px;
    color: #8e8e8e;
    width: 100%; 
}

.line {
    flex: 1;
    height: 1px;
    background: #dbdbdb;
}

.orBlock span {
    margin: 0 15px;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
}

.createNewAcc {
    font-weight: 600;
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-bottom: 50px;
}

.backLogin {
    font-weight: 600;
    text-decoration: none;
    color: black;
    cursor: pointer;
    
}

.wrapperBackLogin  {
    width: 100%;
    border: 1px solid rgba(219, 219, 219, 1);
    background-color: rgba(250, 250, 250, 1);
    padding: 10px 95px;
}
