.formBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 300px;
    width: 100%;
    gap: 15px;
}


.formBox > * {
  width: 100%;
}

input {
    width: 300px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid rgba(219, 219, 219, 1);
    background-color: rgba(250, 250, 250, 1);
    color: rgba(199, 199, 199, 1);

}

.resetBtn {
    width: 300px;
    height: 32px;
    border-radius: 8px;
    border: none;
    background-color: rgba(0, 149, 246, 1);
    font-family: Roboto;
    line-height: 18px;
    color: white;


}