.footerWrapper {
  width: 100%;
  padding: 20px;
  padding-left: 100px;
  gap: 20px;
  background: white;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

a {
  gap: 10px;
  text-decoration: none;
  color: #737373;
  font-size: 12px;
  transition: color 0.3s;
}

a:hover {
    color: rgb(50, 37, 37);
}

.copyright {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #737373;
}