.input {
    max-width: 268px;
    width: 100%;
    max-height: 38px;
    height: 100%;
    border-radius: 3px;
    /* opacity: 1; */
    border: 1px solid rgba(219, 219, 219, 1);
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(219, 219, 219, 1);
}

.input::placeholder {
    color: var(--light-text-color);
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
}

.error {
    color: red;
}