.input {
    width: 268px;
    height: 38px;
    opacity: 1;
    border-radius: 3px;
    border: 1px solid rgba(219, 219, 219, 1);
}

.input::placeholder {
    color: var(--light-text-color);
}

.error {
    color: red;
}