.container {
    display: flex;
    /* max-width: 800px;
    width: 100%; */
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    font-family: Roboto;
}

.img {
    max-width: 380px;
    width: 100%;
    height: auto;
    display: block;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;  /* центрируем форму и текст */
  max-width: 350px;
  width: 100%;
}

.signupBox {
  background: white;
  border: 1px solid #dbdbdb;
  text-align: center;
  margin: 0 auto;
  padding: 20px 50px 20px 50px;
}

.signupLink {
    text-decoration: none;
    color: rgba(0, 149, 246, 1);
    cursor: pointer;
    font-weight: 600;
}

