.btn {
    padding: 8px 100px;
    border-radius: 8px;
    background-color: var(--button-bg-color);
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}