.container {
    display: flex;
    /* max-width: 800px;
    width: 100%; */
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    font-family: Roboto;
}

.img {
    max-width: 380px;
    width: 100%;
    height: auto;
    display: block;
}

.right {
  display: flex;
  flex-direction: column;
  max-width: 625px;
  width: 100%;
  gap: 35px;
}

h1 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 20px;
}

p {
  font-family: Roboto;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: rgba(115, 115, 115, 1);


}